<style>
  .container-header-section {
    text-align: center;
  }
  .sub-heading {
    line-height: normal;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.75rem;
  }
  .container-heading {
    font-family: montserrat, sans-serif;
    font-size: 4.225rem;
    font-weight: 700;
    line-height: 3.813rem;
    padding-bottom: 5px;
    margin: 0;
  }
  .container-description {
    max-width: 900px;
    margin: 0 auto;
  }
</style>

<div class="container-header-section">
    <p class="sub-heading">Smart Features</p>
    <h2 class="container-heading">The Ultimate Companion</h2>
    <p class="container-description">Sed ut perspiunde omnis iste voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
</div>


  